JSON normative references

RFC8259, RFC4627 and RFC6901 are all Normative JSON references; which one should be referenced where?